
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="text-center">
    <h2>Access Denied</h2><br/>
    <h4>You Do Not Have Permission to Access this Page</h4><br/>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
</div>