@{
    ViewData["Title"] = "Home Page";
    AccessToken token = new AccessToken(User.Identity.Name);
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Library @token.FirstName</h1>
    @if(!token.IsSet)
    {
        <h3>Please <a asp-area="Identity" asp-page="/Account/Login">Login</a></h3>
    }
</div>
